ul.dropmenu {
	float: left;
	margin: 0px; 
	padding: 0px;
	display:block;
	height:35px;
}

.dropmenu li a, .dropmenu li{
	float: left;
}
.dropmenu li a:hover, .dropmenu li.open > a{

}

.dropmenu li{
	list-style: none;
	position: relative;	
	top: 1px;
}

.dropmenu li a, .dropmenu li div{
	padding: 9px 30px 8px 15px;
	text-decoration: none;
}

/* Submenu */
.dropmenu li > ul, .dropmenu li > div {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	padding: 0px;
	margin: 0px;
	background: #FFFFFF;
}

.dropmenu li:hover > ul, .dropmenu li:hover > div{
	display: block;	
}

.dropmenu li ul li, .dropmenu li ul li a{
	float: none;	
	color: #0657AD;
	text-transform: none;
	text-decoration: underline;
}

.dropmenu li ul li{
	_display: inline;	
}

.dropmenu li > div{
	width: 200px;
}

.dropmenu li ul li a span{
}

/* Sub submenu */

.dropmenu li ul li a{
	width: 150px;
	display: block;	
	border-top: none;
}

.dropmenu li ul li a:hover{
	color:#F67A00;
	background: #F0F0F0;
}

.dropmenu li ul li ul, .dropmenu li ul li > div{
	top: 0px;
	left: 101%;
}
