body { padding-bottom: 60px; width: 100%; background: #fff; border: none; max-width: 100%; color: #4E4E4E;}
h1 {font-family: 'Numans', sans-serif; color: #5E214F;}
h2, h3, h4, h5, h6 {font-family: 'Numans', sans-serif; color: #78C0A8;}
header h1 a{color: #5E214F;}
header h3 {font-size: 1.1em; color: #78C0A8;}
header h2, h3, h4, h5, h6 a{color: #F0A82D;}
.page-title h3 {font-size: 2.5em;}
.title-wrapper h1 {font-size: 2.5em;}
a {font-style: normal; color: #F0A82D;}
a:hover {color: #5E214F;}
.slide-text {position:absolute; bottom: 0; left:0; width: 100%; background: rgba(0,0,0,1); height:auto; }
.post-box .slide-text {padding: 5px 0 10px 5px;}
.slide-text h2 {font-size: 1.2em; margin: 0; padding: 8px; color: #4E4E4E; text-align: right;}
.flex-control-nav {left:6%; bottom:6px;}